* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
} 

/* TYPOGRAPHY */

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

h1 {
    font-size: 39px;
}

h2 {
    font-size: 24px;
}

/* LAYOUT */

body {
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto 10px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header, main, footer {
    width: 100%;
    padding: 0 46px;
}

header {
    padding: 46px 0 70px 46px;
}

header {
    color: #fff;
    background-image: url(/assets/burger-background.jpg);
    background-position: -50px -160px;
    background-size: 120%;
    background-repeat: no-repeat;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 140px;
    border-bottom: 1px solid #D2D2D2;
    padding: 100px 0;
}

.item-emoji {
    width: 100px;
    height: 100px;
    font-size: 78px;
    opacity: 0.72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-text-container {
    margin-left: 25px;
}

.item-name {
    font-size: 28px;
}

.item-ingredients {
    padding: 10px 0;
    color: #8B8B8B;
    line-height: 24px;
}

.item-price {
    font-size: 20px;
    line-height: 24px;
}

.item-add {
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;  
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #3C3C3C;
}

.item-add::before {
    content: "+";
    margin-top: -3.4px;
}

.item-add:hover {
    background-color: #16DB99;
    cursor: pointer;
}
